
.olImageLoadError {
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
}

.olControlAttribution {
    bottom: 5px;
}

/**
 * Map Examples Specific
 */
.smallmap {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
}

/* mobile specific */
@media only screen and (max-width: 600px) {
    #map {
        background : #7391ad;
        width      : 100%;
    }
    #map {
        border : 0;
        height : 250px;
    }
}
@media only screen and (orientation: landscape) and (max-width: 600px) {
    #map {
        width: 70%;
    }
}

.hideMap {
    display:none;
}
